html {
    width:  100%;
    height: 100%;
}
body {
    width:  100%;
    height: 100%;
}
#map {
    width:  100%;
    height: 100%;
}
#controlPanel {
    margin:   auto;
    position: absolute;
    width:    80px;
    top:      10%;
    bottom:   10%;
    right:    0;
    z-index:  1;
    display:  none;
}
#settingsPanel {
    margin:           auto;
    position:         absolute;
    top:              35%;
    bottom:           35%;
    left:             25%;
    right:            25%;
    z-index:          2;
    display:          none;
    align-items:      center;
    justify-content:  center;
    flex-flow:        wrap;
    background-color: #ffffff;
    border-radius:    25px;
    border:           4px solid #4682B4;
}
#settingsPanelText {
    margin-top:    8px;
    margin-bottom: 8px;
    margin-left:   8px;
    margin-right:  8px;
    text-align:    center;
    color:         #000000;
}
#settingsPanelButton {
    margin-top:       4px;
    margin-bottom:    4px;
    margin-left:      4px;
    margin-right:     4px;
    display:          inline-block;
    background-color: #4682B4;
    border-radius:    8px;
    border:           none;
    outline:          none;
    color:            #ffffff;
    text-align:       center;
    text-decoration:  none;
    padding:          8px;
}
#fatalErrorPanel {
    margin:           auto;
    position:         absolute;
    top:              35%;
    bottom:           35%;
    left:             25%;
    right:            25%;
    z-index:          3;
    display:          none;
    align-items:      center;
    justify-content:  center;
    background-color: #ffffff;
    border-radius:    25px;
    border:           4px solid #4682B4;
}
#fatalErrorPanelText {
    margin-top:    8px;
    margin-bottom: 8px;
    margin-left:   8px;
    margin-right:  8px;
    text-align:    center;
    color:         #000000;
}
